<form action="" id="newBlogPost">
    <input type="text" placeholder="Title...">
    <textarea placeholder="Type Here..."></textarea>
    <button type="submit">Post Blog</button>
</form>
{{#each Blogs}}
<div>
    <input type="text" value=`{{title}}`>
    <input type="text" value=`{{body}}`>
    <p>Posted on {{createdAt}}</p>
    <button class="deleteBtn">Delete</button>
    <button class="updateBtn">Update</button>
</div>
<hr>
{{/each}}

<script src="/js/user.js"></script>